html {
   background-color: lightyellow;
    height: 1000px;
    border: 5px light blue;
    margin: 5px;
    margin-bottom: auto;
}

p {
    color: #000000;
    font-size: 22px;
    line-height: 5px;
    text-align: center;
    }


div{
      font-family: Open Sans;
        font-size: 20px;
        color: #000000;
        text-align: center;
        position: center;
        margin-bottom: 2em;
    }


h1 {
    margin: 20px 20px 10px;
    color: blue;
    font-size: 90px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 1em;
  margin-top: em;
}

h2 {
    color: green;
    font-size: 40px;
    line-height: 40px;
    text-align: center;

}

h3 {
    color: purple;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}

h4 {
    color: purple;
    font-size: 25px;
    line-height: 0px;
    text-align: center;
  margin-bottom: 2em;
    }

h5 {
    color: purple;
    font-size: 25px;
    line-height: 0px;
    text-align: center;
     margin-top: 2em;
    }

form{
    color: #000000;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
   margin-bottom: 2em;
    }

#glass {
  position: relative;
  background-color: white;
  padding: 0px;
  width: 150px;
  height: 200px;
  margin: 0 auto;
  border: 5px solid black;
}

#water {
  background-color:blue;
  position: relative;
  padding: 0px;
  top: 200px;
  width: 150px;
  height: 0px;
  margin: 0 auto;
}

#result {
 font-size: 22px;
  color: red;
  position: absolute;
  text-align: center;
}

#answer {
 text-align: center;
 font-size: 22px;
  color: red;
  position: relative;
}

#totalFats {
 font-size: 22px;
  color: red;
  text-align: center;
  position: relative;
}

#totalCarbs {
 text-align: center;
 font-size: 22px;
  color: red;
  position: relative;
}

#totalProtein {
 text-align: center;
 font-size: 22px;
  color: red;
  position: relative;
}
